mat-card {
    padding: 16px;
    margin: 0 0 32px;
    font-size: 14px;
}

mat-card img {
    object-fit: cover;
    padding: 16px;
}

.value {
    font-size: 20px;;
}

.old-value {
    text-decoration: line-through;
}