<mat-card>
    <img class="image-fluid" mat-card-image src="{{product.featured_image}}"/>
    <mat-card-title>
        <h4>{{product.name}}</h4>
    </mat-card-title>
    <mat-card-content>
            <span *ngFor="let star of [1, 2, 3, 4, 5]">
                    <mat-icon>{{ (product.rating_stars >= star ? 'star' : (product.rating_stars - (star-1) >= 0.5) ? 'star_half' : 'star_border') }}</mat-icon>
            </span>
        <div class="old-value" *ngIf="product.promotional_value">{{product.value | currency: "BRL" }}</div>
        <div class="value">{{(product.promotional_value ? product.promotional_value : product.value) | currency: "BRL"}}</div>
        <div *ngIf="product.installment_available">{{product.installment_count}}x {{product.value/product.installment_count | currency: "BRL"}}</div>
    </mat-card-content>
</mat-card>