<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
        <mat-toolbar color="primary" dir="rtl">
            <button mat-icon-button aria-label="Close Sidenav" class="sidenav-close" (click)="sidenav.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <p>Menu ficará aqui</p>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button aria-label="Menu" class="header-button" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span [routerLink]="['/']">
                Pet Store
            </span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>