.category-card {
    margin: 5px;
}

.category-card-img {
    border-radius: 50%;
    border: 1px solid darkgray;
    aspect-ratio: 1/1;
}

.category-card-description {
    text-align: center;
    font-size: 16px;
    padding: 5px;
}