<div class="container banner-container">
    <div class="grid">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid banner" src="https://petshop-sp.ue.r.appspot.com/static/images/banner-1.png" alt="Medicamentos com descontos">
            </div>
        </div>
    </div>
</div>

<app-categories-featured></app-categories-featured>

<section class="container grid" *ngIf="productsHighlights">
    <div class="row">
        <div class="col-12">
            <h2>Produtos em destaque</h2>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col" *ngFor="let product of productsHighlights">
            <app-product-item [product]="product"></app-product-item>
        </div>
    </div>
</section>